div[ui-view="header"] nav{
    margin-bottom: 0 !important;
}
div[ui-view="footer"] a{
    text-decoration: none;
    color: #000;
}

div[ui-view="footer"] a:hover{
    opacity: 0.7;
}

div[ui-view="footer"] ul.second-level{
    list-style-type: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

.content{
    padding-top: 30px;
    padding-bottom: 30px;
}

img.zoom:hover{
    -webkit-transform:scale(1.08); /* Safari and Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* IE 9 */
    -o-transform:scale(1.08); /* Opera */
    transform:scale(1.08);
}

a.topic:hover{
    text-decoration: none;
}

a.next:hover, .hidden-list a:hover{
    text-decoration: none;
    opacity: 0.6;
}

a.topic .panel-body:hover{
    background-color: #F8F8F8 ;
}

a.next{
    font-size: 16px;
}

.thumb{
    height: 80px;
}

.label-title{
    display: inline-block;
    margin-right: 5px;
}

img.top-img{
    height: 250px;
}

ul.hidden-list{
    list-style-type: none;
}

.inline{
    display: inline-block;
}

.inline.picker{
    padding: 5px 10px;
    margin-left: 5px;
    border: 1px solid red;
}

.inline.picker:hover{
    cursor: pointer;
    background: yellow;
}