div[ui-view="header"] nav{
    margin-bottom: 0 !important;
}
div[ui-view="footer"] a{
    text-decoration: none;
    color: #000;
}

div[ui-view="footer"] a:hover{
    opacity: 0.7;
}

div[ui-view="footer"] ul.second-level{
    list-style-type: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}