<div class = "container-fluid">
    <div class = "row" style="margin-bottom: 30px;">
        <div class = "col-md-3">
            <ul class="nav nav-pills nav-stacked" style="padding-top: 30px;">
                <li class="active"><a ui-sref="app.learn.math.algebra">Algebra</a></li>
                <li><a href = "#">Calculus</a></li>
                <li><a href = "#">Discrete Mathematics</a></li>
                <li><a href = "#">Probability and Statistics</a></li>

                <li style="margin-top: 15px; border: 1px solid #eb6864"><a href="#"><i class="fa fa-book"></i> Test your knowledge</a></li>
            </ul>
        </div>
        <div class = "col-md-9 content">
            <a ui-sref="app.learn.math.algebra.expressions" class="topic">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-4">
                                <img src="./img/variables.png" class="img-responsive thumb">
                            </div>
                            <div class="col-xs-8">
                                <h3>Expressions and variables</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="topic">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-4">
                                <img src="./img/variables.png" class="img-responsive thumb">
                            </div>
                            <div class="col-xs-8">
                                <h3>Integers and rational numbers</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="topic">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-4">
                                <img src="./img/variables.png" class="img-responsive thumb">
                            </div>
                            <div class="col-xs-8">
                                <h3>Properties of equalities</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="topic">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-4">
                                <img src="./img/variables.png" class="img-responsive thumb">
                            </div>
                            <div class="col-xs-8">
                                <h3 class="label-title">Ratios and Proportions </h3><span class="label label-primary">new</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="topic">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-4">
                                <img src="./img/plane.jpg" class="img-responsive thumb">
                            </div>
                            <div class="col-xs-8">
                                <h3>The Coordinate plane</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="topic">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-4">
                                <img src="./img/variables.png" class="img-responsive thumb">
                            </div>
                            <div class="col-xs-8">
                                <h3>Solving linear equations</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="topic">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-4">
                                <img src="./img/variables.png" class="img-responsive thumb">
                            </div>
                            <div class="col-xs-8">
                                <h3>Exponents and Exponential functions</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="topic">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-xs-4">
                                <img src="./img/variables.png" class="img-responsive thumb">
                            </div>
                            <div class="col-xs-8">
                                <h3>Factoring and polynomials</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>