<div class = "container-fluid">
    <div class = "row" style="margin-bottom: 30px;">
        <div class = "col-md-3">
            <ul class="nav nav-pills nav-stacked" style="padding-top: 30px;">
                <li><a ui-sref="app.learn.math.algebra">Algebra</a></li>
                <li><a href = "#">Calculus</a></li>
                <li><a href = "#">Discrete Mathematics</a></li>
                <li><a href = "#">Probability and Statistics</a></li>

                <li style="margin-top: 15px; border: 1px solid #eb6864"><a href="#"><i class="fa fa-book"></i> Test your knowledge</a></li>
            </ul>
        </div>
        <div class = "col-md-9">

            <img src="./img/math.jpg" class="img-responsive center-block" style="max-height: 550px;">
            <p class="lead">
                <b>Algebra: </b> the part of mathematics in which letters and other general symbols are used to represent numbers and quantities in formulae and equations.
            </p>
            <p class="lead">
                <b>Calculus:</b> the branch of mathematics that deals with the finding and properties of derivatives and integrals of functions, by methods originally based on the summation of infinitesimal differences. The two main types are differential calculus and integral calculus.
            </p>
            <p class="lead">
                <b>Discrete Mathematics:</b> the study of mathematical structures that are fundamentally discrete rather than continuous.
            </p>
            <p class="lead">
                <b>Probability and Statistics:</b>  two related but separate academic disciplines. Statistical analysis often uses probability distributions, and the two topics are often studied together. However, probability theory contains much that is mostly of mathematical interest and not directly relevant to statistics. Moreover, many topics in statistics are independent of probability theory.
            </p>

            <h3 style="color: #eb6864"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> To start learning choose a topic</h3>

        </div>
    </div>
</div>