<div class="container-fluid  bg-primary" style="min-height: 250px">
    <div class="row">
        <div class="col-md-12" style="padding: 20px 0">
            <div ng-repeat="field in fields" class="col-md-offset-1 col-md-2">
                <h4 style="cursor: pointer;" ui-sref="app.learn.generic({ fieldId: field.id })">{{ ::field.name }}</h4>
                <ul class="list list-unstyled">
                    <li ng-repeat="topic in field.topics">
                        <a ui-sref="app.learn.generic.topic({ fieldId: field.id, topicId: topic.id })">{{ ::topic.name
                            }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>