<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app.home">Knowledge Pilot</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" ng-model="searchPhrase" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button ng-click="search()" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="app.home">Home</a></li>
                <li ui-sref-active="active" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Learn <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="app.learn.biology">Biology</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.learn.it">IT</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.learn.math">Math</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Quiz <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="app.quiz.biology">Biology</a></li>
                        <li ui-sref-active="active"><a ui-sref="app.quiz.it">IT</a></li>
                        <li ui-sref-active="active"><a  ui-sref="app.quiz.math">Math</a></li>
                    </ul>
                </li>
                <li ng-if="!!currentUser" ui-sref-active="active"><a ui-sref="app.create">New Topic</a></li>
                <li ng-if="!!currentUser" ui-sref-active="active"><a ng-click="logout()">Logout</a></li>
                <li ng-if="!currentUser" ui-sref-active="active"><a ui-sref="app.login">Login</a></li>
                <li ng-if="!currentUser" ui-sref-active="active"><a ui-sref="app.signup">Sign up</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>