<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="padding: 0;">
            <img src="./img/book.jpg" class="img-responsive" style="width: 100%; max-height: 550px;">
        </div>
    </div>
    <div class="row text-center">
        <h2>Top Courses</h2>
    </div>
    <div class="container">
		<div class="row" style="padding: 30px;">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="./img/angular2.png" class="img-responsive top-img">
				</div>
				<div class="caption">
					<h3>Angular JS 2 Fundamentals</h3>
					<p>Learn how to build apps and websites with AngularJS 2.0.</p>
					<p><a ui-sref="app.learn.it.angular2" class="btn btn-primary" role="button">Learn</a></p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="./img/cell.jpg" class="img-responsive top-img">
				</div>
				<div class="caption">
					<h3>Cell Anatomy</h3>
					<p>Learn everything about the cell.</p>
					<p><a ui-sref="app.learn.biology.cell" class="btn btn-primary" role="button">Learn</a></p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="./img/variables.png" class="img-responsive top-img">
				</div>
				<div class="caption">
					<h3>Expressions and Variables</h3>
					<p>Learn algebra expressions and variables.</p>
					<p><a ui-sref="app.learn.math.algebra.expressions" class="btn btn-primary" role="button">Learn</a></p>
				</div>
			</div>
		</div>
	</div>
</div>