<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center content">
            <a href="#"
               quiz
               controller-name="BiologyQuizController"
               topic="basics">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Biology basics
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Biology Word Dissections
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Biological Evolution
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Pyramid Structure Of Life
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Kingdoms of Life
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Taxonomy
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Cell Anatomy
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>