<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center quiz">
            <a href="#"
               quiz
               controller-name="BiologyQuizController"
               topic="basics">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Biology basics</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center quiz">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Biology Word Dissections</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center quiz">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Biological Evolution</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center quiz">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Pyramid Structure Of Life</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center quiz">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Kingdoms of Life</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center quiz">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Taxonomy</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center quiz">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Cell Anatomy</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>