<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center content">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                       Programming
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Web
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Front-End
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Back-End
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Mobile
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Desktop
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Design
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>