<div class="container">
    <div class="row" style="margin-top: 15px;">
        <div class="col-lg-12 text-center quiz">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Algebra</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center quiz">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Calculus</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center quiz">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Discrete Mathemathics</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-12 text-center quiz">
            <a href="#">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Probability and Statistics</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>