<div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-3">
            <ul class="nav nav-pills nav-stacked" style="padding-top: 30px;">
                <li class="active"><a ui-sref="app.learn.biology.basics">Biology basics</a></li>
                <li><a ui-sref="app.learn.biology.diss">Biology Word Dissections</a></li>
                <li><a ui-sref="app.learn.biology.evolution">Biological Evolution</a></li>
                <li><a ui-sref="app.learn.biology.pyramid">Pyramid Structure Of Life</a></li>
                <li><a ui-sref="app.learn.biology.kingdoms">Kingdoms of Life</a></li>
                <li><a ui-sref="app.learn.biology.taxonomy">Taxonomy</a></li>
                <li><a ui-sref="app.learn.biology.cell">Cell Anatomy</a></li>

                <li style="margin-top: 15px; border: 1px solid #eb6864"><a href="#"><i class="fa fa-book"></i> Test your knowledge</a></li>
            </ul>
        </div>

        <div class = "col-md-9">
            <h1>Biology</h1>
            <p>What is biology? Simply put, it is the study of life -- life in all of its grandeur. From the very small algae to the very large elephant, life has a certain wonder about it. With that in mind, how do we know if something is living? Is a virus alive or dead? What are the characteristics of life? These are all very important questions with equally important answers.</p>

            <h2>Characteristics of Life</h2>

            <p>Living things include both the visible world of animals and plants, as well as the invisible world of bacteria and viruses.
                On a basic level, we can say that:</p>
            <h3>Life is ordered</h3>
            <p> Organisms have an enormously complex organization. We're all familiar with the intricate systems of the basic unit of life, the cell.</p>
            <h3>Life can also "work."</h3>
            <p>No, not the daily employment variety, but living creatures can take in energy from the environment. This energy, in the form of food, is transformed to maintain metabolic processes and for survival.</p>
            <h3>Life grows and develops</h3>
            <p> This means more than just getting larger in size. Living organisms also have the ability to rebuild and repair themselves when injured.</p>
            <h3>Life can reproduce</h3>
            <p> Have you ever seen dirt reproduce? I don't think so. Life can only come from other living creatures.</p>
            <h3>Life can respond</h3>
            <p> Think about the last time you accidentally stubbed your toe. Almost instantly, you flinched back in pain. Life is characterized by this response to stimuli.</p>
            <br>
            <p>Finally,</p>
            <h3>life can adapt and respond</h3>
            <p>to the demands placed on it by the environment. There are three basic types of adaptations that can occur in higher organisms.</p>
            <p>Reversible changes occur as a response to changes in the environment. Let's say you live near sea level and you travel to a mountainous area. You may begin to experience difficulty breathing and an increase in heart rate as a result of the change in altitude. These symptoms go away when you go back down to sea level.</p>
            <p>Somatic changes occur as a result of prolonged changes in the environment. Using the previous example, if you were to stay in the mountainous area for a long time, you would notice that your heart rate would begin to slow down and you would begin to breath normally. Somatic changes are also reversible.</p>
            <p>The final type of adaptation is called genotypic (caused by genetic mutation). These changes take place within the genetic makeup of the organism and are not reversible. An example would be the development of resistance to pesticides by insects and spiders.</p>
            <br>
            <h2>Basic Principles of Biology</h2>
            <br>
            <p>The foundation of biology as it exists today is based on five basic principles. They are the cell theory, gene theory, evolution, homeostasis, and laws of thermodynamics.</p>
            <p><strong>Cell Theory:</strong> all living organisms are composed of cells. The cell is the basic unit of life.</p>
            <p><strong>Gene Theory:</strong> traits are inherited through gene transmission. Genes are located on chromosomes and consist of DNA.</p>
            <p><strong>Evolution:</strong> any genetic change in a population that is inherited over several generations. These changes may be small or large, noticeable or not so noticeable.</p>
            <p><strong>Homeostasis:</strong> ability to maintain a constant internal environment in response to environmental changes.</p>
            <p><strong>Thermodynamics:</strong> energy is constant and energy transformation is not completely efficient.</p>
            <h3>Subdiciplines of Biology</h3>
            <br>
            <p>The field of biology is very broad in scope and can be divided into several disciplines. In the most general sense, these disciplines are categorized based on the type of organism studied. For example, zoology deals with animal studies, botany deals with plant studies, and microbiology is the study of microorganisms. These fields of study can be broken down further into several specialized sub-disciplines. Some of which include anatomy, cell biology, genetics, and physiology.</p>



            <div class="row" style="margin-top: 50px;">
                <div class="col-md-8 col-md-offset-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/v/fimEtkXV1PE"></iframe>
                    </div>
                </div>
            </div>
            <hr>


            <div class="row" style="margin-top: 50px;">

                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#quiz">Attempt Quiz</button>
                    <br>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal QUIZ-->
<div class="modal fade" id="quiz" tabindex="-1" role="dialog" aria-labelledby="quizLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="quizLabel">Test your knowledge</h4>
            </div>
            <div class="modal-body">
                <div class = "row">
                    <div id = "pagination" class = "col-md-3"></div>

                    <div class = "col-md-9">
                        <!--QUESTION STUFF-->
                        <h3 id = "question"></h3>
                        <div class = "row">
                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c0" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c0" class = "answerChoise" id = "a0"></label>
                                    </div>
                                </div>
                            </div>

                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c1" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c1" class = "answerChoise" id = "a1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c2" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c2" class = "answerChoise" id = "a2"></label>
                                    </div>
                                </div>
                            </div>

                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c3" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c3" class = "answerChoise" id = "a3"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id = "previous" type="button" class="btn btn-default"><i class = "glyphicon glyphicon-arrow-left"></i> Previous</button>
                <button id = "next" type="button" class="btn btn-default">Next <i class = "glyphicon glyphicon-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal RESULTS -->
<div class="modal fade" id="results" tabindex="-1" role="dialog" aria-labelledby="resultsLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resultsLabel">Results</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id = "close" type="button" class="btn btn-danger" data-dismiss="modal"><i class = "fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>