<div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-3">
            <ul class="nav nav-pills nav-stacked" style="padding-top: 30px;">
                <li><a ui-sref="app.learn.biology.basics">Biology basics</a></li>
                <li><a ui-sref="app.learn.biology.diss">Biology Word Dissections</a></li>
                <li><a ui-sref="app.learn.biology.evolution">Biological Evolution</a></li>
                <li><a ui-sref="app.learn.biology.pyramid">Pyramid Structure Of Life</a></li>
                <li><a ui-sref="app.learn.biology.kingdoms">Kingdoms of Life</a></li>
                <li><a ui-sref="app.learn.biology.taxonomy">Taxonomy</a></li>
                <li><a ui-sref="app.learn.biology.cell">Cell Anatomy</a></li>

                <li style="margin-top: 15px; border: 1px solid #eb6864"><a href="#" quiz field="biology" topic="all" max-questions="20"><i class="fa fa-book"></i> Test your knowledge</a></li>
            </ul>
        </div>

        <div class = "col-md-9 content">
            
            <img src="./img/biology.jpg" class="img-responsive">
            <p class="lead">Biology is a natural science concerned with the study of life and living organisms, including their structure, function, growth, evolution, distribution, identification and taxonomy. Modern biology is a vast and eclectic field, composed of many branches and subdisciplines. However, despite the broad scope of biology, there are certain general and unifying concepts within it that govern all study and research, consolidating it into single, coherent field.</p>

            <h3 style="color: #eb6864"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> To start learning choose a topic</h3>
        </div>
    </div>
</div>