<div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-3">
            <ul class="nav nav-pills nav-stacked" style="padding-top: 30px;">
                <li><a ui-sref="app.learn.biology.basics">Biology basics</a></li>
                <li><a ui-sref="app.learn.biology.diss">Biology Word Dissections</a></li>
                <li><a ui-sref="app.learn.biology.evolution">Biological Evolution</a></li>
                <li><a ui-sref="app.learn.biology.pyramid">Pyramid Structure Of Life</a></li>
                <li class="active"><a ui-sref="app.learn.biology.kingdoms">Kingdoms of Life</a></li>
                <li><a ui-sref="app.learn.biology.taxonomy">Taxonomy</a></li>
                <li><a ui-sref="app.learn.biology.cell">Cell Anatomy</a></li>

                <li style="margin-top: 15px; border: 1px solid #eb6864"><a href="#"><i class="fa fa-book"></i> Test your knowledge</a></li>
            </ul>
        </div>

        <div class = "col-md-9">
            <h1>Six Kingdoms of Life</h1>

            <div class="row">
                <div class="col-xs-5">
                    <img src="./img/kingdoms.jpg" class="img-responsive">
                </div>
                <div class="col-xs-7">
                    <p>Organisms are classified into three Domains and into one of six Kingdoms of life. These Kingdoms are Archaebacteria, Eubacteria, Protista, Fungi, Plantae, and Animalia.</p>
                    <p>Organisms are placed into these categories based on similarities or common caracteristics. Some of the characteristics that are used to determine placement are cell type, metabolism, and reproduction.</p>
                    <p>Below is a list of the six Kingdoms of life and information on a few organisms in each category.</p>
                </div>
            </div>



            <h3>Six Kingdoms of Life</h3><br>
            <h4>1. Archaebacteria</h4>
            <div class="row">
                <div class="col-xs-3">
                    <img src="./img/archaebacteria.jfif" class="img-responsive" style="margin-bottom: 15px">
                </div>
            </div>

            <p><strong>Organisms:</strong> Methanogens, Halophilies, Thermophilies, Psychrophilies<br><br>
                <strong>Cell Type:</strong> Prokaryotic<br><br>
                <strong>Metabolism:</strong> Depending on species - oxygen, hydrogen, carbon dioxide, sulfur, sulfide may be needed for metabolism.<br><br>
                <strong>Nutrition Acquistion:</strong> Depending on spicies - nutrition intake may be absorption, non-photosynthetic photophosphorylation, or chemosynthesis. <br><br>
                <strong>Reproduction:</strong> Asexual reproduction by binary fission, budding, or fragmentation.</p>
            <br>
            <h4>2. Eubacteria</h4>
            <div class="row">
                <div class="col-xs-3">
                    <img src="./img/eubacteria.jpg" class="img-responsive" style="margin-bottom: 15px">
                </div>
            </div>
            <p><strong>Organisms:</strong> Bacteria, Cyanobacteria(blue-green algae), Actinobacteria<br><br>
                <strong>Cell Type:</strong> Prokaryotic<br><br>
                <strong>Metabolism:</strong> Depending on species - oxygen may be toxic, tolerated, or needed for metabolism.<br><br>
                <strong>Nutrition Acquistion:</strong> Depending on species - nutrition intake may by absorption, photosynthesis, or chemosynthesis. <br><br>
                <strong>Reproduction:</strong> Asexual reproduction </p>
            <br>
            <h4>3. Protista</h4>
            <div class="row">
                <div class="col-xs-3">
                    <img src="img/protista.jpg" class="img-responsive" style="margin-bottom: 15px">
                </div>
            </div>
            <p><strong>Organisms:</strong> Amoebae, green algae, brown algae, diatoms, euglena, slime molds<br><br>
                <strong>Cell Type:</strong> Eukaryotic<br><br>
                <strong>Metabolism:</strong> Oxygen is needed for metabolism.<br><br>
                <strong>Nutrition Acquistion:</strong> Depending on species - nutrition intake may be by absorption, photosynthesis, or ingestion. <br><br>
                <strong>Reproduction:</strong> Mostly asexual reproduction. Meiosis occurs in some species. </p>
            <br>
            <h4>4. Fungi</h4>
            <div class="row">
                <div class="col-xs-3">
                    <img src="./img/fungi.jpg" class="img-responsive" style="margin-bottom: 15px">
                </div>
            </div>
            <p><strong>Organisms:</strong> Mushrooms, yeast, molds<br><br>
                <strong>Cell Type:</strong> Eukaryotic<br><br>
                <strong>Metabolism:</strong> Oxygen is needed for metabolism.<br><br>
                <strong>Nutrition Acquistion:</strong> Absorption <br><br>
                <strong>Reproduction:</strong> Asexual or sexual reproduction occur. </p>
            <br>
            <h4>5. Plantae</h4>
            <div class="row">
                <div class="col-xs-3">
                    <img src="./img/plant.jpg" class="img-responsive" style="margin-bottom: 15px">
                </div>
            </div>
            <p><strong>Organisms:</strong>  Mosses, angiosperms (flowering plants), gymnosperms, liverworts, ferns
                <br><br>
                <strong>Cell Type:</strong> Eukaryotic<br><br>
                <strong>Metabolism:</strong> Oxygen is needed for metabolism.<br><br>
                <strong>Nutrition Acquistion:</strong> Photosynthesis <br><br>
                <strong>Reproduction:</strong> Some species reproduce asexually by mitosis. Other species exhibit sexual reproduction. </p>
            <br>
            <h4>6. Animalia</h4>
            <div class="row">
                <div class="col-xs-3">
                    <img src="./img/animal.jpg" class="img-responsive" style="margin-bottom: 15px">
                </div>
            </div>
            <p><strong>Organisms:</strong> : Mammals, amphibians, sponges, insects, worms<br><br>
                <strong>Cell Type:</strong> Eukaryotic<br><br>
                <strong>Metabolism:</strong> Oxygen is needed for metabolism.<br><br>
                <strong>Nutrition Acquistion:</strong> Ingestion <br><br>
                <strong>Reproduction:</strong>  Sexual reproduction </p>
            <br>


            <div class="row" style="margin-top: 50px">

                <div class="col-xs-8 col-xs-offset-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/v/u90WvBZe-tY"></iframe>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-top: 50px;">

                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-success btn-block" data-toggle="modal" data-target="#quiz">Attempt Quiz</button>
                    <br>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal QUIZ-->
<div class="modal fade" id="quiz" tabindex="-1" role="dialog" aria-labelledby="quizLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="quizLabel">Test your knowledge</h4>
            </div>
            <div class="modal-body">
                <div class = "row">
                    <div id = "pagination" class = "col-md-3"></div>

                    <div class = "col-md-9">
                        <!--QUESTION STUFF-->
                        <h3 id = "question"></h3>
                        <div class = "row">
                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c0" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c0" class = "answerChoise" id = "a0"></label>
                                    </div>
                                </div>
                            </div>

                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c1" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c1" class = "answerChoise" id = "a1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c2" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c2" class = "answerChoise" id = "a2"></label>
                                    </div>
                                </div>
                            </div>

                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c3" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c3" class = "answerChoise" id = "a3"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id = "previous" type="button" class="btn btn-default"><i class = "glyphicon glyphicon-arrow-left"></i> Previous</button>
                <button id = "next" type="button" class="btn btn-default">Next <i class = "glyphicon glyphicon-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal RESULTS -->
<div class="modal fade" id="results" tabindex="-1" role="dialog" aria-labelledby="resultsLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resultsLabel">Results</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id = "close" type="button" class="btn btn-danger" data-dismiss="modal"><i class = "fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>