<div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-3">
            <ul class="nav nav-pills nav-stacked" style="padding-top: 30px;">
                <li><a ui-sref="app.learn.biology.basics">Biology basics</a></li>
                <li><a ui-sref="app.learn.biology.diss">Biology Word Dissections</a></li>
                <li><a ui-sref="app.learn.biology.evolution">Biological Evolution</a></li>
                <li class="active"><a ui-sref="app.learn.biology.pyramid">Pyramid Structure Of Life</a></li>
                <li><a ui-sref="app.learn.biology.kingdoms">Kingdoms of Life</a></li>
                <li><a ui-sref="app.learn.biology.taxonomy">Taxonomy</a></li>
                <li><a ui-sref="app.learn.biology.cell">Cell Anatomy</a></li>

                <li style="margin-top: 15px; border: 1px solid #eb6864"><a href="#"><i class="fa fa-book"></i> Test your knowledge</a></li>
            </ul>
        </div>

        <div class = "col-md-9">
            <h1>The Pyramid Of Life</h1><br>

            <div class="row">
                <div class="col-xs-5">
                    <img src="./img/pyramid.png" class="img-responsive">
                </div>
                <div class="col-xs-7">
                    <p>When you look at a pyramid, you'll notice that its broad base gradually narrows as it extends upward. The same holds true for the organization of life on Earth.</p>
                    <p>At the base of this hierarchical structure, is the most inclusive level of organization, such as an ecosystem. As you climb the pyramid, the levels become less encompassing and more specific. Let's take a look at this magnificent pyramid, starting with the ecosystem at the base and culminating with the atom at the peak.</p>
                </div>
            </div>

            <h3>Ecosystem</h3>

            <div class="row">
                <div class="col-xs-3 text-center">
                    <img src="./img/ecosystem.jpg" class="img-responsive">
                    <span style="font-size: 9px; color:#989898">The ecosystem</span>
                </div>
            </div>

            <p style="margin-top: 10px;">Our tour begins with the ecosystem. Ecosystems involve interactions between communities and their environment. Communities consist of different populations (groups of organisms of the same species) in a given geographic area. The environment includes everything from people to plants.  </p>
            <h3>Organism</h3>
            <p>The next stop is the organism. Yes, that's right, that means you! Living organisms are highly ordered and have the ability to grow, develop, and reproduce. Complex organisms, including humans, rely on the cooperation between organs, tissues, cells, and molecules to exist.</p>
            <h3>Organ Systems</h3>
            <div class="row">
                <div class="col-xs-5 text-center">
                    <img src="./img/organsystem.jpg" class="img-responsive">
                    <span style="font-size: 9px; color:#989898">The human organ systems</span>
                </div>
            </div>

            <p style="margin-top: 10px;">Moving right along, we come to our next level--organ systems. Some examples are the circulatory, digestive, nervous, skeletal, and reproductive systems which work together to keep the body functioning normally. For instance, nutrients obtained by the digestive system are distributed throughout the body by the circulatory system. Likewise, the circulatory system distributes oxygen that is taken in by the respiratory system.</p>
            <h3>Organs</h3>
            <div class="row">
                <div class="col-xs-4 text-center">
                    <img src="./img/organs.jpg" class="img-responsive">
                    <span style="font-size: 9px; color:#989898">Human organs</span>
                </div>
            </div>
            <p style="margin-top: 10px;">Climbing higher still, we arrive at the organs: i.e., the heart, liver, brain, skin, and stomach. Organs are composed of different types of tissue arranged together to perform specific tasks. For example, the brain is composed of several different types including nervous and connective tissues.</p>
            <h3>Tissues</h3>
            <div class="row">
                <div class="col-xs-4 text-center">
                    <img src="./img/tissue.jpg" class="img-responsive">
                    <span style="font-size: 9px; color:#989898">Types of tissues</span>
                </div>
            </div>

            <p style="margin-top: 10px;">Next, we have tissues. No, not the kind you use to blow your nose! Simply put, tissues are groups of cells with both a shared structure and function. Animal tissue can be grouped into four subunits: epithelial tissue, connective tissue, muscle tissue, and nervous tissue.</p>
            <h3>Cells</h3>

            <div class="row">
                <div class="col-xs-5 text-center">
                    <img src="./img/humancell.gif" class="img-responsive">
                    <span style="font-size: 9px; color:#989898">Human cell</span>
                </div>
                <div class="col-xs-5 text-center">
                    <img src="./img/plantcell.jpg" class="img-responsive">
                    <span style="font-size: 9px; color:#989898">Plant cell</span>
                </div>

            </div>
            <p style="margin-top: 10px;">As we approach the top of our pyramid, we arrive at the next level-- cells. Cells are the simplest form of living units. Cells contain structures called organelles which are responsible for everything from housing the cell's DNA, to producing energy. Processes that occur within the body are carried out on a cellular level. For example, when you move your leg, it is the responsibility of nerve cells to transmit these signals from your brain to the muscle cells in your leg.</p>
            <h3>Molecules</h3>
            <div class="row">
                <div class="col-xs-4 text-center">
                    <img src="./img/molecules.jpg" class="img-responsive">
                    <span style="font-size: 9px; color:#989898">Molecules</span>
                </div>
            </div>
            <p style="margin-top: 10px;">Molecules reign supreme on the next level. Molecules are composed of atoms and can be arranged into large molecular structures such as chromosomes, proteins, and membranes. Some of these proteins may be grouped together to become the organelles that make up your cells.</p>
            <h3>Atom</h3>
            <div class="row">
                <div class="col-xs-4 text-center">
                    <img src="./img/atom.gif" class="img-responsive">
                    <span style="font-size: 9px; color:#989898">Atom</span>
                </div>
            </div>
            <p style="margin-top: 10px;">Our tour ends with the ever so tiny atom. It takes extremely powerful microscopes to view these units of matter (anything that has mass and takes up space). Elements such as carbon, oxygen, and hydrogen are composed of atoms.</p>
            <h3>Summary</h3>
            <p>So there you have it. The pyramid of life is a hierarchical structure for the organization of life. To summarize, the organization for complex organisms goes as follows: ecosystems, organisms, organs systems, organs, tissues, cells, molecules, and atoms.</p>


            <div class="row" style="margin-top: 50px">

                <div class="col-xs-8 col-xs-offset-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/v/7xpONWAj4Go"></iframe>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-top: 50px;">

                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-success btn-block" data-toggle="modal" data-target="#quiz">Attempt Quiz</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal QUIZ-->
<div class="modal fade" id="quiz" tabindex="-1" role="dialog" aria-labelledby="quizLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="quizLabel">Test your knowledge</h4>
            </div>
            <div class="modal-body">
                <div class = "row">
                    <div id = "pagination" class = "col-md-3"></div>

                    <div class = "col-md-9">
                        <!--QUESTION STUFF-->
                        <h3 id = "question"></h3>
                        <div class = "row">
                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c0" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c0" class = "answerChoise" id = "a0"></label>
                                    </div>
                                </div>
                            </div>

                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c1" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c1" class = "answerChoise" id = "a1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c2" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c2" class = "answerChoise" id = "a2"></label>
                                    </div>
                                </div>
                            </div>

                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c3" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c3" class = "answerChoise" id = "a3"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id = "previous" type="button" class="btn btn-default"><i class = "glyphicon glyphicon-arrow-left"></i> Previous</button>
                <button id = "next" type="button" class="btn btn-default">Next <i class = "glyphicon glyphicon-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal RESULTS -->
<div class="modal fade" id="results" tabindex="-1" role="dialog" aria-labelledby="resultsLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resultsLabel">Results</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id = "close" type="button" class="btn btn-danger" data-dismiss="modal"><i class = "fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>
