<div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-3">
            <ul class="nav nav-pills nav-stacked" style="padding-top: 30px;">
                <li><a ui-sref="app.learn.biology.basics">Biology basics</a></li>
                <li><a ui-sref="app.learn.biology.diss">Biology Word Dissections</a></li>
                <li><a ui-sref="app.learn.biology.evolution">Biological Evolution</a></li>
                <li><a ui-sref="app.learn.biology.pyramid">Pyramid Structure Of Life</a></li>
                <li><a ui-sref="app.learn.biology.kingdoms">Kingdoms of Life</a></li>
                <li class="active"><a ui-sref="app.learn.biology.taxonomy">Taxonomy</a></li>
                <li><a ui-sref="app.learn.biology.cell">Cell Anatomy</a></li>

                <li style="margin-top: 15px; border: 1px solid #eb6864"><a href="#"><i class="fa fa-book"></i> Test your knowledge</a></li>
            </ul>
        </div>
        <div class = "col-md-9">
            <h1>Taxonomy</h1>
            <br>
            <div class="row">
                <div class="col-xs-2">
                    <img src="./img/taxonomy.png" class="img-responsive zoom">
                </div>
                <div class="col-xs-10">
                    <p> Taxonomy is a hierarchical system for classifying and identifying organisms. This system was developed by Swedish scientist Carolus Linnaeus in the 8th century.</p>

                    <h3>Binomial Nomenclature</h3>


                    <p>Linnaeus's taxonomy system has two main features that contribute to its ease of use in naming and grouping organism. The first is the use of binomial nomenclature.
                        This mans that an organism's scientific name is comprised of a combination of two terms.
                        <br><br>
                        This terms are the genus name and the species or epithet. Both of these terms are italicized and the genus name is also capitalized. For example, the scientific name for humans is <strong><i>Homo sapiens</i></strong>. The <strong>genus</strong> name is Homo and the <strong>species</strong> is sapiens. These terms are unique and no other species can have this same name.</p>


                    <h3>Classification Categories</h3>

                    <p>The second feature of Linnaeus's taxonomy system that simplifies organism classification is the ordering of species into broad categories. The major categories include: <strong>Kingdom</strong>, <strong>Phylum</strong>, <strong>Class</strong>, <strong>Order</strong>, <strong>Family</strong>, <strong>Genus</strong>, and <strong>Species</strong>. These categories have been updated to include Domain in the taxonomic hierarchy. Domain is the broadest category and organisms are qrouped primarily according to differences in ribosomal RNA structure.
                        <br><br>
                        A good aid for remembering taxonomic categories is the mnemonic device: <strong>D</strong>o <strong>K</strong>eep <strong>P</strong>lates <strong>C</strong>lean <strong>O</strong>r  <strong>F</strong>amily <strong>G</strong>ets <strong>S</strong>ick.
                        <br><br>
                        Taxonomic categories can be further divided into intermediate categories such as subphya, suborders, superfamilies, and superclasses.
                        <br><br>
                        An example of this taxonomy scheme is below. It includes the eight main categories along with subcategories and supercategories. The superkingdom rank is the same as the Domain rank.</p>
                </div>
            </div>




            <table class="table" style="margin-top: 20px;">
                <caption class="text-center"><strong>Taxonomic Hierarchy</strong></caption>
                <thead>
                <tr></tr>
                <tr  class="active">
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Supercategory</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Domain</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kingdom</td>
                    <td>Subkingdom</td>
                    <td>Superkingdom (Domain)</td>
                </tr>
                <tr>
                    <td>Phylum</td>
                    <td>Subphylum</td>
                    <td>Superphylum</td>
                </tr>
                <tr>
                    <td>Class</td>
                    <td>Subclass</td>
                    <td>Superclass</td>
                </tr>
                <tr>
                    <td>Order</td>
                    <td>Suborder</td>
                    <td>Superorder</td>
                </tr>
                <tr>
                    <td>Family</td>
                    <td>Subfamily</td>
                    <td>Superfamily</td>
                </tr>
                <tr>
                    <td>Genus</td>
                    <td>Subgenus</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Species</td>
                    <td>Subspecies</td>
                    <td>Superspecies</td>
                </tr>
                </tbody>
            </table>

            <p>The table below includes a list of organisms and their classification in this taxonomy system using the major categories. Notice how closely dogs and wolves are related. They are similar in everyaaspect except species name.</p>
            <h3>Taxonomy of Organisms</h3>

            <table class="table">

                <thead>

                <tr>
                    <caption class="text-center"><strong>Taxonomic Classification</strong></caption>
                </tr>

                </tr>
                <tr>
                    <th></th>
                    <th>Brown Bear</th>
                    <th>House Cat</th>
                    <th>Dog</th>
                    <th>Killer Whale</th>
                    <th>Wolf</th>
                    <th>Tarantula  Spider</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>Domain</strong></td>
                    <td>Eukarya</td>
                    <td>Eukarya</td>
                    <td>Eukarya</td>
                    <td>Eukarya</td>
                    <td>Eukarya</td>
                    <td>Eukarya</td>
                </tr>
                <tr>
                    <td><strong>Kingdom</strong></td>
                    <td>Animalia</td>
                    <td>Animalia</td>
                    <td>Animalia</td>
                    <td>Animalia</td>
                    <td>Animalia</td>
                    <td>Animalia</td>
                </tr>
                <tr>
                    <td><strong>Phylum</strong></td>
                    <td>Chordata</td>
                    <td>Chordata</td>
                    <td>Chordata</td>
                    <td>Chordata</td>
                    <td>Chordata</td>
                    <td>Arthropoda</td>
                </tr>
                <tr>
                    <td><strong>Class</strong></td>
                    <td>Mammalia</td>
                    <td>Mammalia</td>
                    <td>Mammalia</td>
                    <td>Mammalia</td>
                    <td>Mammalia</td>
                    <td>Arachnida</td>
                </tr>
                <tr>
                    <td><strong>Order</strong></td>
                    <td>Carnivora</td>
                    <td>Carnivora</td>
                    <td>Carnivora</td>
                    <td>Carnivora</td>
                    <td>Carnivora</td>
                    <td>Araneae</td>
                </tr>
                <tr>
                    <td><strong>Family</strong></td>
                    <td>Ursidae</td>
                    <td>Felidae</td>
                    <td>Canidae</td>
                    <td>Delphinidae</td>
                    <td>Canidae</td>
                    <td>Theraphosidae</td>
                </tr>
                <tr>
                    <td><strong>Genus</strong></td>
                    <td>Ursus</td>
                    <td>Felis</td>
                    <td>Canis</td>
                    <td>Orcinus</td>
                    <td>Canis</td>
                    <td>Theraphosa</td>
                </tr>
                <tr>
                    <td><strong>Species</strong></td>
                    <td>Ursus arctos</td>
                    <td>Felis catus</td>
                    <td>Canis familiaris</td>
                    <td>Orcinus orca</td>
                    <td>Canis lupus</td>
                    <td>Theraphosa blondi</td>
                </tr>
                </tbody>
            </table>

            <div class="row" style="margin-top: 50px;">
                <div class="col-xs-4 text-center">
                    <img src="./img/humantaxonomy.png" class="img-responsive zoom">
                    <span style="font-size: 9px; color:#989898">The human classification</span>
                </div>
                <div class="col-xs-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/v/F38BmgPcZ_I"></iframe>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 50px;">

                <div class="col-md-12">
                    <hr/>
                    <a ui-sref="app.learn.biology.cell" class="pull-right next">Cell Anatomy <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#quiz">Attempt Quiz</button>
                    <br>
                    <br>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- Modal QUIZ-->
<div class="modal fade" id="quiz" tabindex="-1" role="dialog" aria-labelledby="quizLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="quizLabel">Test your knowledge</h4>
            </div>
            <div class="modal-body">
                <div class = "row">
                    <div id = "pagination" class = "col-md-3"></div>

                    <div class = "col-md-9">
                        <!--QUESTION STUFF-->
                        <h3 id = "question"></h3>
                        <div class = "row">
                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c0" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c0" class = "answerChoise" id = "a0"></label>
                                    </div>
                                </div>
                            </div>

                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c1" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c1" class = "answerChoise" id = "a1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c2" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c2" class = "answerChoise" id = "a2"></label>
                                    </div>
                                </div>
                            </div>

                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c3" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c3" class = "answerChoise" id = "a3"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id = "previous" type="button" class="btn btn-default"><i class = "glyphicon glyphicon-arrow-left"></i> Previous</button>
                <button id = "next" type="button" class="btn btn-default">Next <i class = "glyphicon glyphicon-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal RESULTS -->
<div class="modal fade" id="results" tabindex="-1" role="dialog" aria-labelledby="resultsLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resultsLabel">Results</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id = "close" type="button" class="btn btn-danger" data-dismiss="modal"><i class = "fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>