<div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-3">
            <ul class="nav nav-pills nav-stacked" style="padding-top: 30px;">
                <li><a ui-sref="app.learn.biology.basics">Biology basics</a></li>
                <li><a ui-sref="app.learn.biology.diss">Biology Word Dissections</a></li>
                <li class="active"><a ui-sref="app.learn.biology.evolution">Biological Evolution</a></li>
                <li><a ui-sref="app.learn.biology.pyramid">Pyramid Structure Of Life</a></li>
                <li><a ui-sref="app.learn.biology.kingdoms">Kingdoms of Life</a></li>
                <li><a ui-sref="app.learn.biology.taxonomy">Taxonomy</a></li>
                <li><a ui-sref="app.learn.biology.cell">Cell Anatomy</a></li>

                <li style="margin-top: 15px; border: 1px solid #eb6864"><a href="#"><i class="fa fa-book"></i> Test your knowledge</a></li>
            </ul>
        </div>
<div class = "col-md-9">
    <h1>Biological evolution</h1>
    <h3>What is evolution?</h3>

    <div class="row">
        <div class="col-xs-4 text-center">
            <img src="./img/white_tiger.jpg" class="img-responsive zoom">
            <span style="font-size: 9px; color:#989898">White tigers have white fur as a result of biological evolution.</span>
        </div>
        <div class="col-xs-8">
            <p>Biological evolution is defined as any genetic change in a population that is inherited over several generations. These changes may be small or large,
                noticeable or not so noticeable.

                In order for an event to be considered an instance of evolution, changes have to occur on the genetic level of a population and be passed on from one generation to the next.

                This means that the genes, or more specifically, the alleles in the population change and are passed on.
                These changes are noticed in the phenotypes (expressed physical traits that can be seen) of the population.

                A change on the genetic level of a population is defined as a small-scale change and is called microevolution.

                Biological evolution also includes the idea that all of life is connected and can be traced back to one common ancestor. This is called macroevolution.</p>

        </div>

    </div>

    <h3>What evolution is not</h3>
    <p>Biological evolution is not defined as simply change over time.

        Many organisms experience changes over time, such as weight loss or gain. These changes are not considered instances of evolution
        because they are not genetic changes that can be passed on to the next generation.</p>

    <h3>What Is Natural Selection?</h3>

    <div class="row">
        <div class="col-xs-5">
            <img src="./img/naturalselection1.gif" class="img-responsive zoom">
            <img src="./img/naturalselection2.gif" class="img-responsive zoom">
            <img src="./img/naturalselection3.gif" class="img-responsive zoom">
        </div>

        <div class="col-xs-7">
            <p>Natural selection is the process by which biological evolutionary changes take place. Natural selection acts on populations and not individuals. It is based on the following concepts:</p>
            <p>Individuals in a population have different traits which can be inherited.</p>
            <p>These individuals produce more young than the environment can support.</p>
            <p>The individuals in a population that are best suited to their environment will leave more offspring, resulting in a change in the genetic makeup of a population.</p>
            <p>The genetic variations that arise in a population happen by chance, but the process of natural selection does not. Natural selection is the result of the interactions between genetic variations in a population and the environment.</p>
            <p>The environment determines which variations are more favorable. Individuals that possess traits that are better suited to their environment will survive to produce more offspring than other individuals. More favorable traits are thereby passed on to the population as a whole.</p>


            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/v/aTftyFboC_M"></iframe>
            </div>
        </div>
    </div>



    <h3>How Does Genetic Variation Occur in a Population?</h3>
    <p>Genetic variation occurs mainly through DNA mutation, gene flow (movement of genes from one population to another) and sexual reproduction. Due to the fact that environments are unstable, populations that are genetically variable will be able to adapt to changing situations better than those that do not contain genetic variations.

        Sexual reproduction allows for genetic variations to occur through genetic recombination. Recombination occurs during meiosis and provides a way for producing new combinations of alleles on a single chromosome. Independent assortment during meiosis allows for an indefinite number of combinations of genes.

        Sexual reproduction makes it possible to assemble favorable gene combinations in a population or to remove unfavorable gene combinations from a population. Populations with more favorable genetic combinations will survive in their environment and reproduce more offspring than those with less favorable genetic combinations.</p>
    <h3>Biological Evolution Versus Creation</h3>

    <div class="row">
        <div class="col-xs-4 text-center">
            <img src="./img/evolution.jpg" class="img-responsive zoom">
            <span style="font-size: 9px; color:#989898">The evolution of the human</span>
        </div>

        <div class="col-xs-8">
            <p>The theory of evolution has caused controversy from the time of its introduction until today. The controversy stems from the perception that biological evolution is at odds with religion concerning the need for a divine creator. Evolutionists contend that evolution does not address the issue of whether or not God exists, but attempts to explain how natural processes work.
                In doing so however, there is no escaping the fact that evolution contradicts certain aspects of some religious beliefs. For example, the evolutionary account for the existence of life and the biblical account of creation are quite different.

                Evolution suggests that all life is connected and can be traced back to one common ancestor. A literal interpretation of biblical creation suggests that life was created by an all powerful, supernatural being (God).

        </div>
    </div>



    Still others have tried to merge these two concepts by contending that evolution does not exclude the possibility of the existence of God, but merely explains the process by which God created life. This view however, still contradicts a literal interpretation of creation as presented in the bible.

    In paring down the issue, a major bone of contention between the two views is the concept of macroevolution. For the most part, evolutionists and creationists agree that microevolution does occur and is visible in nature.

    Macroevolution however, refers to the process of evolution that takes place on the level of species, in which one species evolves from another species. This is in stark contrast to the biblical view that God was personally involved in the formation and creation of living organisms.

    For now, the evolution/creation debate continues on and it appears that the differences between these two views are not likely to be settled any time soon.</p>


    <h2><strong>Video lesson</strong></h2>
    <div class="row" style="margin-top: 50px">

        <div class="col-xs-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/v/P3GagfbA2vo"></iframe>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">

        <div class="col-md-12">
            <hr/>
            <a ui-sref="app.learn.biology.pyramid" class="pull-right next">Pyramid Structure of Life <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>

        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#quiz">Attempt Quiz</button>
            <br>
            <br>
        </div>
    </div>

</div>
</div>
</div>

<!-- Modal QUIZ-->
<div class="modal fade" id="quiz" tabindex="-1" role="dialog" aria-labelledby="quizLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="quizLabel">Test your knowledge</h4>
            </div>
            <div class="modal-body">
                <div class = "row">
                    <div id = "pagination" class = "col-md-3"></div>

                    <div class = "col-md-9">
                        <!--QUESTION STUFF-->
                        <h3 id = "question"></h3>
                        <div class = "row">
                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c0" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c0" class = "answerChoise" id = "a0"></label>
                                    </div>
                                </div>
                            </div>

                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c1" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c1" class = "answerChoise" id = "a1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c2" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c2" class = "answerChoise" id = "a2"></label>
                                    </div>
                                </div>
                            </div>

                            <div class = "col-md-6">
                                <div class = "row">
                                    <div class = "col-md-1">
                                        <input type = "radio" name = "choise" value = "" class = "choise" id = "c3" />
                                    </div>
                                    <div class = "col-md-10">
                                        <label for = "c3" class = "answerChoise" id = "a3"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id = "previous" type="button" class="btn btn-default"><i class = "glyphicon glyphicon-arrow-left"></i> Previous</button>
                <button id = "next" type="button" class="btn btn-default">Next <i class = "glyphicon glyphicon-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal RESULTS -->
<div class="modal fade" id="results" tabindex="-1" role="dialog" aria-labelledby="resultsLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resultsLabel">Results</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id = "close" type="button" class="btn btn-danger" data-dismiss="modal"><i class = "fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>
